.main-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;

    border-radius: 8px;
}

.example-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #F3F3F3;
    padding: 16px;

    border-radius: 8px 8px 0 0;
}

.right-block {
    padding: 12px;

    border-radius: 8px;
    background-color: #FBFBFB;

    margin-left: auto;
}

.code-block {
    background-color: #F7F7F7 !important;
    margin: 0;
    padding: 8px !important;

    border-radius: 0 0 8px 8px;
    border-top: 1px solid #EAEAEA;
}

.code-block-standalone {
    background-color: #ececec !important;
    margin: 0;
    padding: 8px !important;

    border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    .main-block {
        border-color: rgba(117, 117, 117, 0.4);
    }

    .example-block {
        background-color: #202020;
    }

    .code-block {
        background-color: #1C1C1C !important;
        border-color: rgba(117, 117, 117, 0.4);
    }

    .code-block-standalone {
        background-color: #2c2c2c !important;
    }


    .right-block {
        background-color: #1C1C1C;
    }
}
